.css-selector {
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'lato', sans-serif;
}

.title p {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    font-size: 16px;
    padding: 50px 50px 0px 50px;
 }

 .aboutdescription {
    max-width: 520px;
    float: left;
 }

 .aboutdescription p {
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    padding: 50px;
 }

 .aboutdescription a {
     color: #000000;
 }
 
 .palantir {
     max-width: 600px;
 }
 .palantir p {
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    padding: 150px;
 }

 .palantir a {
    color: #000000; 
 }