.css-selector {
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'lato', sans-serif;
}
 
.title p {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 16px;
    padding: 30px;
 }

 .aboutdescription{
    max-width: 450px;
 }
 .aboutdescription p {
     font-family: 'lato', sans-serif;
     font-size: 24px;
     padding: 30px;
 }
