.css-selector {
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'lato', sans-serif;
}

.title p {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    font-size: 16px;
    padding: 50px 50px 0px 50px;
 }

 .aboutdescription {
    max-width: 520px;
    display: inline-block;
    vertical-align: top;
 }

 .aboutdescription p {
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin: 50px;
 }

 .aboutdescription a {
    color: #000000;
 }
 
 .workgroup {
    max-width: 760px;
    display: inline-block;
    vertical-align: top;
 }
 .workgroup p {
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin: 50px 50px 20px 0px;
 }

 .workgroup a {
    color: #000000; 
 }
.workgroup palantir p pinkcolor {
    color: FF5252;
}

.footer a {
    font-style: underline;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300;
    font-size: 14px;
    margin: 50px;
    display: inline-block;
}

.footer p {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300;
    font-size: 14px;
    margin: 50px 50px 20px 140px;
    display: inline-block;
}